/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: #505033;
  --secondary-color: #264969;
  --accent1-color: #cfcfb4;
  --accent2-color: #b4cde4;
  --heading-font: 'Georgia', serif;
  --body-font: 'Roboto', sans-serif;
}

/* Body */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Page Width */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Headings */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Spacing */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

header img {
  height: 50px;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--accent2-color);
  font-weight: bold;
}

/* Hero */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  max-width: 300px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
  border-radius: 6px;
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin-bottom: 0.5rem;
}

.socialmedia a {
  text-decoration: none;
  margin: 0 10px;
}

.socialmedia img {
  width: 24px;
  height: auto;
}
